<!DOCTYPE html>
<html lang="fr">

<%-  include header %>

<body>
    <a href="http://localhost:8081/formulaire">Ajouter</a>
    <a href="http://localhost:8081/Accueil">Accueil</a>
    <a href="http://localhost:8081">Adresse</a>
    
    <%-  include main %>

    <%-  include footer %>

</body>
</html>