<!DOCTYPE html>
<html lang="fr">

<%-  include head %>

<%-  include entete %>

<body>
    
    
    <%-  include main %>

    <button id='testAJAX'>test AJAX</button>


</body>
<%-  include footer %>

<script type="text/javascript">

    // dans notre fichier .ejs
// Notre code JavaScript pour effectuer un transfert AJAX


function traiterRequest(e)
{
console.log("xhr.readyState = " + xhr.readyState)
console.log("xhr.status = " + xhr.status)
if(xhr.readyState == 4 && xhr.status == 200)
{
console.log('ajax fonctionne')
let  maReponse = JSON.parse(xhr.responseText);
console.log(xhr.responseText);
console.log(maReponse._id)
}
}

let elmBouton = document.getElementById('testAJAX')
elmBouton.addEventListener('click', ()=>{
console.log('ok')
xhr = new XMLHttpRequest();
xhr.open('POST', "/ajax_modifier", true);
data = {
"nom" : "AAAA",
"prenom" : "BBBB",
"telephone" : "CCCC",
"_id" : "5a999079b8347c2098ace63a"
}
console.log(data)
sData = JSON.stringify(data);
xhr.setRequestHeader('Content-type', 'application/json');
console.log("resquestheader")
xhr.send(sData);
xhr.addEventListener("readystatechange", traiterRequest, false);
console.log("envent");
})

// Dans notre fichier .ejs
// Pour traiter le résultat transmis par l'application serveur 

function traiterRequest(e)
{
console.log("xhr.readyState = " + xhr.readyState)
console.log("xhr.status = " + xhr.status)
if(xhr.readyState == 4 && xhr.status == 200)
{
console.log('ajax fonctionne')
let  maReponse = JSON.parse(xhr.responseText);
console.log(xhr.responseText);
console.log(maReponse._id)
}
}



    let boutons = document.querySelectorAll('.modifier');
    
    for(bouton of boutons){
        bouton.addEventListener('click', function(){
    
    
    let laLigne = this.parentNode.parentNode
    let id = laLigne.children[0].innerHTML
    let nom = laLigne.children[1].innerHTML
    let prenom = laLigne.children[2].innerHTML
    let telephone = laLigne.children[3].innerHTML
    let courriel = laLigne.children[4].innerHTML
  

    console.log('ok')
    xhr = new XMLHttpRequest();
    xhr.open('POST', "/ajax_modifier", true);
    data = {
    "nom" : nom,
    "prenom" : prenom,
    "telephone" : telephone,
    "courriel" : courriel,
    "_id" : id
    }
    console.log(data)
    sData = JSON.stringify(data);
    xhr.setRequestHeader('Content-type', 'application/json');
    console.log("resquestheader")
    xhr.send(sData);
    xhr.addEventListener("readystatechange", traiterRequest, false);
    console.log("envent");
    
  
   
    
        })
    }
    
    
    
    </script>
    
</html>