<!DOCTYPE html>
<html lang="fr">

<%-  include head %>

<%-  include entete %>

<body>
    
    
    <%-  include main %>

   


</body>
<%-  include footer %>

<script type="text/javascript">

    let boutons = document.querySelectorAll('.modifier');
    
    for(bouton of boutons){
        bouton.addEventListener('click', function(){
    
    
    let laLigne = this.parentNode.parentNode
    let id = laLigne.children[0].innerHTML
    let nom = laLigne.children[1].innerHTML
    let prenom = laLigne.children[2].innerHTML
    let telephone = laLigne.children[3].innerHTML
    let courriel = laLigne.children[4].innerHTML
  
    
    let elmForm = document.getElementById('mon_formulaire')
    console.log(elmForm.tagName)
    let elmInput = elmForm.querySelectorAll('input')
    elmInput[0].value = id
    elmInput[1].value = nom
    elmInput[2].value = prenom
    elmInput[3].value = telephone
    elmInput[4].value = courriel
    
    elmForm.submit()
   
    
        })
    }
    
    
    
    </script>
    
</html>