<!DOCTYPE html>
<html>

        <%-  include head %>

        <%-  include entete %>
    <body>

<div>
        <% for (info in adresses) {%>
            <h3><%= adresses[info] %></h3>
        <% } %>
 
</div>

</body>

<%-  include footer %>

</html>