header{
    text-align: center;
}

body{
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


table{
    width: 60%;
  
}

tbody{
   text-align: center

}
li{
    list-style-type: none;
}

td.id{
    display: none;
}

._id{
    display: none;
}
#mon_formulaire{
    display: none;
}

footer{
    text-align: center;
}