@import "https://fonts.googleapis.com/css?family=Lato";
* {
  font-family: 'Lato', sans-serif;
}
header {
  text-align: center;
  background-color: #011627;
  color: #E8F1F2;
  width: 100%;
  padding: 20px;
}
header a {
  color: #E8F1F2;
  text-decoration: none;
  padding: 5px;
  transition: 1s;
}
header a i {
  padding: 5px;
}
header a:hover {
  color: #00A676;
}
header section {
  padding: 20px;
}
header section i {
  color: #00A676;
  transition: 0.5s;
}
header section i:hover {
  color: #D6FFF6;
}
header section h1 {
  transition: 0.5s;
}
header section h1:hover {
  color: #00A676;
}
body {
  background-color: #56E39F;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
table {
  width: 60%;
  margin: 30px;
  background-color: #D6FFF6;
}
tbody {
  text-align: center;
}
li {
  list-style-type: none;
}
td.id {
  display: none;
}
td {
  padding: 10px;
}
._id {
  display: none;
}
#mon_formulaire {
  display: none;
}
#recherche_formulaire {
  padding: 10px;
}
footer {
  text-align: center;
}
.icon {
  color: #00A676;
}
.formulaire {
  padding: 20px;
}
.enteteTab td a {
  text-decoration: none;
  color: #00A676;
  font-weight: bold;
}
.profil {
  background-color: #D6FFF6;
  padding: 5px;
  margin: 10px;
}
#blocChat {
  background-color: #D6FFF6;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  align-items: center;
  justify-content: center;
}
#utilisateurs {
  width: 49%;
  background-color: #D6FFF6;
  border-left: 2px solid #00A676;
  text-align: center;
  height: 200px;
}
#list_user {
  overflow-y: scroll;
  height: 100px;
}
#utiActif {
  background-color: #D6FFF6;
  width: 49%;
  height: 200px;
}
#chat {
  background-color: #00A676;
  color: #E8F1F2;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#message {
  background-color: #E8F1F2;
  width: 90%;
  height: 90%;
  overflow-y: scroll;
}
#message_a_transmette {
  width: 90%;
  padding: 20px;
}
#message_a_transmette input {
  width: 80%;
  height: 50px;
}
#message_a_transmette button {
  height: 56px;
}
@media screen and (max-width: 1000px) and (min-width: 520px) {
  table {
    width: 80%;
  }
}
@media screen and (max-width: 600px) and (min-width: 0px) {
  .courriel {
    display: none;
  }
  .telephone {
    display: none;
  }
  #blocChat {
    flex-direction: column;
  }
  #utilisateurs {
    width: 100%;
    height: 200px;
    text-align: center;
    border: 0px solid transparent;
  }
  #utiActif {
    width: 100%;
    height: 200px;
    text-align: center;
  }
}
